body {
    font-family: Arial, sans-serif;
}


.container {
    border-radius: 5px;
    text-align: center;
}

.container img {
    width: 45%;
}

.container div {
    margin-bottom: 10px;
}

.container label {
    display: inline-block;
    width: 100px;
}

.container input {
    width: 200px;
}

.container button {
    width: 250px;
    padding: 10px;
    background-color: #f5e949;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}

.container button:hover {
    background-color: #d69405;
}

#resultado {
    text-align: center;
}

@media (min-width: 1200px) {

    .container img {
        width: 15%;
    }
}